.local/
.env
environment/paths.env
environment/*raw*
environment/install-*.log
**/Library/
**/Temp/
**/Logs/
**/obj/
**/UserSettings/
builds/
*.apk
*.aab
*.keystore
*.jks
*.dll
*.exe
*.assets
*.bundle
*.unitypackage
.DS_Store

__pycache__/
